body {
  margin: 0 2% 2% 2%;
  font-family: sans-serif;
  background-color: #CCCCCC;
}

h1 {
  margin: 2%;
}
.navbar-header {
  border-radius: 0;
  border: 0;
  height: auto;
  border-color:#000;
}
.dropdown-item {
  background: #fff;
  opacity: 0.9;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#chicken, #beef, #sushi {
  height: 700px;
}

.class-with-pad {
  background-color: #dddddd;
  border-radius: 3px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}